<label id="testLabel">{{ labelText }}</label>

<p id="testLabel1">userId: {{ (toDo$ | async)?.userId }}</p>
<p id="testLabel2">id: {{ (toDo$ | async)?.id }}</p>
<p id="testLabel3">title: {{ (toDo$ | async)?.title }}</p>
<p id="testLabel4">completed: {{ (toDo$ | async)?.completed }}</p>
